<%= render :partial => "common/nav" %>

<div id="body" class="pure-u-1" style="padding: 0 0 0 1em;">
    
    <h1>Editing Blog</h1>
    
    <%= render 'form', blog: @blog %>
    
    <%= link_to 'Show', @blog, :target => "_self"  %> 
    <%= link_to 'Back', blogs_path, :target => "_self"  %>

</div>